@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  width: 100%;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

.MuiDataGrid-main {
  height: 0 !important;
  overflow-y: auto !important;
}
.MuiDataGrid-virtualScroller {
  overflow-y: auto !important;
}
